.flow {
  height: 95%;
  width: 100%
}

.dark .react-flow__node {
  background: #777;
  color: white;
}

.light .react-flow__node {
  background: white;
  color: #111;
}

.light .react-flow__controls button {
  background-color: #fff;
  color: #333;
  border: 1px solid #ccc;
  margin: 2px;
  border-radius: 5px;
}

.light .react-flow__attribution {
  background-color: transparent;
}

.custom-node div {
  font-size: 12px;
  color: white;
  text-align: center;
}

.completed {
  background: #1E8449 !important;
}

.completion-button:hover {
  opacity: 0.9;
}

.edit-button:hover {
  opacity: 0.9;
}

.nodrag {
  cursor: pointer;
}

.react-flow__node {
  border-radius: 10px;
  margin: -1px;
  background-color: transparent;
}

.customNodeBody {
  border: 6px solid black;
  position: relative;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.react-flow .react-flow__handle {
  width: 8px;
  height: 8px;
  background-color: #F5F5F5;
}

.popup-window {
  z-index: 1000;
}

.dropdown-button {
  background-color: #1976D2;
  color: #fff;
  border: 1px solid #ccc;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.dropdown-button:hover {
  background-color: #2196F3;
}

.add-milestone-button {
  background-color: #1976D2;
  color: #fff;
  border: 1px solid #ccc;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.add-milestone-button:hover {
  background-color: #2196F3;
}

.dropdown {
  position: relative; /* Add this line to the parent element */
  margin-left: auto;
}

.dropdown-menu {
  margin-top: 0;
  background-color: #ccc;
  border: 1px solid #333;
  padding: 5px;
  border-radius: 4px;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
}

.dropdown-menu li {
  margin-bottom: 5px;
  list-style: none; /* Add this line to remove the bullet points */
}

.dropdown-menu li:last-child {
  margin-bottom: 0;
}

.dropdown-menu .dropdown-item {
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.dropdown-menu .dropdown-item:hover {
  background-color: #2196F3;
}